.card-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
}

.card1{
    width: 300px;
    height: 350px;
    background-color: #050101;
    border-radius: 10px;
}
.card1 p{
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    padding: 50%;
}

.card2{
    width: 300px;
    height: 350px;
    background-color: #050101;
    border-radius: 10px;
}
.card2 p{
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    padding: 50%;
}

.card3{
    width: 300px;
    height: 350px;
    background-color: #050101;
    border-radius: 10px;
}
.card3 p{
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    padding: 50%;
}

.card4{
    width: 300px;
    height: 350px;
    background-color: #050101;
    border-radius: 10px;
}
.card4 p{
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    padding: 50%;
}